#container{
    border: solid black 2px;
}
header{
    border: solid blue 2px;
    text-align: center;
    background-color: navy;
    color: white;
    height: 7rem;
}

section{
    border: solid black 2px;

}
h2{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
}
#italic{
    font-style: italic;
}
footer{
    border: solid black 1px;
    text-align: center;
    background-color: black;
    color: white;
}